body {
  font-family: "Lexend", sans-serif;
  background-color: rgb(240, 239, 238);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul li {
  display: inline;

  padding-right: 20%;
  font-size: 115%;
}
main {
  display: flex;
  flex-direction: column;
  left: 25%;
  margin: 0;
  align-items: center;
}
.welcome-display {
  max-width: 1000px;
  text-align: center;
}
.start {
  left: 200px;
  width: 200px;
}

.label {
  list-style: none;
  font-size: 110%;
  border: 1px solid rgb(2, 2, 24);
  border-radius: 10px;
  margin: 3%;
  padding: 2%;
  width: 250px;
}

.hidden {
  display: none;
}
.form {
  width: 250px;
}

.highscore-list {
  padding: 0px;
}
.highscore-list li {
  list-style: none;
  border: 1px dashed navy;
  width: 150px;
  margin: 2% auto;
  padding: 1% 0;
}

.label:hover {
  background-color: rgb(202, 229, 245);
}
.highscore-main {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
