nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul li {
  display: inline;

  padding-right: 20%;
  font-size: 115%;
}
main {
  position: relative;
  left: 25%;
}
.start {
  position: absolute;
  left: 200px;
}

.label {
  border: 1px solid navy;
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
  width: 250px;
}

.hidden {
  display: none;
}
.form {
  width: 250px;
}

.question-list li {
  border: 1px solid navy;
  border-radius: 10px;
}
.highscore-list {
  padding: 0px;
}
.highscore-list li {
  list-style: none;
  border: 1px solid navy;
  width: 200px;
  margin: 2% auto;
}

.label:hover {
  background-color: lightskyblue;
}
.highscore-main {
  text-align: center;
}
